[submodule "fs-cook"]
	path = fs-cook
	url = https://github.com/RandomCoderOrg/fs-cook
	branch = master
[submodule "suites/jammy/gnome"]
	path = suites/jammy/gnome
	url = https://github.com/RandomCoderOrg/jammy-gnome
	branch = main
[submodule "suites/lunar/gnome"]
	path = suites/lunar/gnome
	url = https://github.com/RandomCoderOrg/lunar-gnome
	branch = main
