name: Build and Release
on:
  push:
    branches:
      - main
      - anchor

jobs:
  BuildRaw:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1.2.0

      - name: Setup Dependencies
        run: sudo apt-get update; sudo apt-get install git build-essential binfmt-support qemu-user-static debootstrap -y
      
      - name: checkout submoudles
        run: |
          git submodule init
          git submodule update
      - name: Build tarballs
        run: |
          sudo bash build.sh -s kinetic -v raw -a amd64
      
      - name: upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: raw-tarballs
          path: fs-cook/out/*.tar.gz
    
  Create-Release:
    runs-on: ubuntu-latest
    needs:
      - BuildRaw
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v3
      with:
        name: raw-tarballs
    - name: Compute release tag
      run: |
        udroid_version=$(git -c 'versionsort.suffix=-' ls-remote --tags --sort='v:refname' \
        https://github.com/RandomCoderOrg/ubuntu-on-android \
        | tail -n1 | cut -d / -f 3 | cut -d v -f 2- )
        udroid_download=$(
        git -c 'versionsort.suffix=-' ls-remote --tags --sort='v:refname' \
         https://github.com/RandomCoderOrg/udroid-download \
          | tail -n1 | cut -d / -f 3
        )
        echo "VERSIONTAG=V${udroid_version}${BUILD_TYPE}R$((${udroid_download: -1} + 1))" >> $GITHUB_ENV
    - name: Generate release notes
      run: sudo bash /home/runner/work/udroid-download/.github/scripts/generate-release-notes.sh
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.VERSIONTAG }}
        release_name: ${{ env.VERSIONTAG }}
        body_path: release.md
        draft: false
        prerelease: false
    - name: Upload assets
      run: |
        set -x
        assets=()
        for asset in ./*.tar.gz; do
          assets+=("-a" "$asset")
        done
        tag_name="${VERSIONTAG}"
        hub release create "${assets[@]}" -m "$tag_name" "$tag_name"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
